<p>
  <mat-toolbar class="mat-toolbar">
    <span><b>Lo</b>to <b>Co</b>mbinaison</span>
  </mat-toolbar>
</p>

<h1></h1> 

<mat-card class="master-card"> 
  <mat-card-header>
    <mat-card-title>Time frame selection</mat-card-title>
    <mat-card-subtitle>please choose a range</mat-card-subtitle>
  </mat-card-header>

    <mat-card-content>

      <mat-form-field style="margin-right: 10px;">
          <mat-label>Choose a start date</mat-label>
          <input [(ngModel)]="inputStartDate" matInput [matDatepicker]="picker" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startdate" ></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
          <mat-label>Choose an end date</mat-label>
          <input [(ngModel)]="inputEndDate" matInput [matDatepicker]="picker2" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 [startAt]="startdate" ></mat-datepicker>
      </mat-form-field>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="loadPeriod()">Load</button>

  </mat-card-actions>
</mat-card>


<app-numero-complementaire [periodDef]="periodDef" ></app-numero-complementaire>