<!-- <mat-card class="master-card">
    <mat-card-header>
        <mat-card-title>All 5 numbers</mat-card-title>
        <mat-card-subtitle>from 1 to 49 ...</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content> -->
        <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multiWithAllSeries">
        </ngx-charts-line-chart>


    <!-- </mat-card-content>
</mat-card> -->